@import "~@/variables.less";

.menuWrapper {
	padding: 20px;
	background: rgba(13, 13, 13, 0.7);
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
	box-sizing: border-box;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

.I{
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%);
	background: #1c1c1c;
	border-bottom-left-radius: 300px;
	border-bottom-right-radius: 300px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100px 100px 0 100px;
	border-color: #2c2c2c transparent transparent transparent;

	.picture{
		width: 90px;
		height: 90px;
		position: absolute;
		left: 50%;
		border: 5px solid #1c1c1c;
		transform: translate(-50%);
		bottom: 0;
		background: url('./assets/i.jpg');
		background-size: 100%;
		border-radius: 100%;
		transition: border 10s;

		&.active{
			border: 5px solid #ae0001;
		}
	}
}

.humb, .humbPlaceholder{
	display: none;
	color: #ffffff;
	font-size: 2em;
}
.overlay{
	display: none;
}
@media screen and (max-width: 1000px){
	.menuWrapper {
		background: @darkBG;
	}
}
@media screen and (max-width: 700px){
	.humb{
		display: block;
	}
	.humbPlaceholder{
		display: block;
	}
	.overlay{
		display: block;
		position: fixed;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.5);
	}
	.menu{
		&.hidden{
			li:not(.humb){
				display: none;
			}
		}

		&.visible{
			z-index: 3;
			position: fixed;
			left: 0;
			top: 0;
			height: 100vh;
			overflow: auto;
			padding: 5%;
			background: black;
			border-right: 5px solid @redColor;

			li:not(.humb){
				display: block;
				font-size: 2em;
				margin-top: 1em;
			}
		}
	}
}
